// Sass or css variables like colors, grid settings, etc.
// $color-primary:
// $color-secondary:
// $color-tertiary:
// $color-accent:
$black: #342c37;
$white: #F8F9FB;
$navypurple: #8147FF;
$hanpurple: #5C1DE8;
$quicksilver: #A2A1A5;
$gray: #8E8D92;
